@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url('./fonts/FiraCode-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.AppBox {
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg0 {
  background-image: url('./imags/bg0.webp');
}
.bg1 {
  background-image: url('./imags/bg1.webp');
}
.bg2 {
  background-image: url('./imags/bg2.webp');
}
